<!doctype html>
<html lang="en" ng-app="jokes">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <!--<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" /> -->
    
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>    
    <script src="/app/utils.js"></script>
    <script src="/app/index.js"></script>
    <script src="/app/icnbdClient.js"></script>  
    <script src="/app/jokescontroller.js"></script>     
  </head>
  <body>

    <div  ng-controller="jokesCtrl">
      <div ng-repeat="category in categories">      
          <div ng-click="onCategory(category)">{{category}}</div>
      </div>
      <div ng-repeat="joke in jokes">
         
      </div>
      
    </div>  
  </body>
</html>



<!--<a href="/{{category}}">{{category}} </a> -->